<footer class="footer bg-dark py-3 mt-auto">
    <!-- mt-auto in class makes footer go to bottom-->
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2020</span>
    </div>
</footer>